{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href= "{% static 'css/agendar/agendar_cliente.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <script src="{% static 'fullcalendar/index.global.min.js' %}"></script> 
</head>
    <script>
       var eventosDataEl = '{{ eventos_cliente_json|safe }}';
       var eventosData = JSON.parse(eventosDataEl);
    </script>
<body>  
    <div class="home">
        <div class="cabeca">
            <h3>AgendaPsi</h3>
            <div class="btns" >
                <a href="/home_cliente/"><button class="btn btn-voltar"><img src="{% static 'img/voltar.png' %}"></button></a>
                <a href="/sair/"><button class="btn btn-sair"><img src="{% static 'img/sair.png' %}"></button></a>
            </div>
        </div>

        <div id="calendar" class='calendar'>
        </div>
    </div>
    <div id="modal-evento" class="modal">
        <div class="modal-content">
            <h2><span id="tituloEvento"></span></h2>
            <div class="pa">
                <p>Psicologo(a): <span id="criadorEvento"></span></p>
                <p>Data e Hora: <span id="dataInicioEvento"></span></p>
            </div>
            <form class="form-marcar" method="post" name="ex-evento" id="exEvento" action="/marcar_evento/" >
                {% csrf_token %}
                <input type="hidden" id="idEvento" name="idEvento" value="">
                <button class="btn btn-marcar" id="ex-evento">Marcar</button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/agendar/agendar_cliente.js' %}"></script>  
</body>
</html>