{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href= "{% static 'css/home/home_psico.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <script src="{% static 'fullcalendar/index.global.min.js' %}"></script> 
</head>

<body>
    <script>
        var eventosJsonUrl = "{% url 'eventos_json' %}";
    </script>
    <div class="home">
        <div class="cabeca">
            <h3>AgendaPsi</h3>
            <div class="btns" >
                <button class="btn btn-conf" ><img src="{% static 'img/conf.png' %}"></button>
                <a href="/sair/"><button class="btn btn-sair"><img src="{% static 'img/sair.png' %}"></button></a>
            </div>
        </div>

        <div id="calendar" class='calendar'>
            <button id="adicionar-evento" class="botao-calendario"><i class="fas fa-plus"></i> Adicionar Evento</button>
        </div>
        
        <div id="modal-criar-evento" class="modal">
            <div class="modal-content">

                    <h2>Adicionar Horario</h2>

              <form class="form-evento" name="form-evento" id="formEvento" method="post" action="/criar_evento/">
                {% csrf_token %}
                <input type="text" id="title" name="title" placeholder="Titulo">
                <div class="paci">
                    <label for="cliente">Paciente</label>
                    <select name="cliente" id="cliente">
                    </select>
                </div>
                <input type="text" id="description" name="description" placeholder="Descrição">
                <input type="datetime-local" id="inicio" name="inicio" placeholder="dd-MM-dd HH:mm:ss" size="16" ng-model="data.action.date"/>
                <button class="btn btn-criar" id="criar-evento">Adicionar</button>
                <button class="btn btn-fechar" id="fechar-modal">Cancelar</button>
              </form>
            </div>
        </div>  
    </div>
    <script src="{% static 'js/home/home_psico.js' %}"></script>  
</body>
</html>