{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href= "{% static 'css/home/home_psico.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <script src="{% static 'fullcalendar/index.global.min.js' %}"></script> 
</head>

<body>
    <script>
        var eventosJsonUrl = "{% url 'eventos_json' %}";
    </script>
    <div class="home">
        <div class="cabeca">
            <h3>AgendaPsi</h3>
            <div class="btns" >
                <button class="btn btn-conf" ><img src="{% static 'img/conf.png' %}"></button>
                <a href="/sair/"><button class="btn btn-sair"><img src="{% static 'img/sair.png' %}"></button></a>
            </div>
        </div>
        <div id="calendar" class='calendar'></div>
        
        
    </div>
    <script src="{% static 'js/home/home_psico.js' %}"></script>  
</body>
</html>