{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href= "{% static 'css/home/home_psico.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <script src="{% static 'fullcalendar/index.global.min.js' %}"></script> 
</head>

<body>

    <script>
        var eventosJsonUrl = "{% url 'eventos_json' %}";
    </script>
    <div class="home">
        <div class="cabeca">
            <h3>AgendaPsi</h3>
            <div class="btns" >
                <button id="noti" class="btn btn-noti" ><img src="{% static 'img/noti_com.png' %}"></button>
                <a href="/sair/"><button class="btn btn-sair"><img src="{% static 'img/sair.png' %}"></button></a>
            </div>
        </div>

        <div id="calendar" class='calendar'></div>
        
        <div id="modal-criar-evento" class="modal">
            <div class="modal-content"> 
                <h2>Adicionar Horario</h2>
                <form class="form-evento" name="form-evento" id="formEvento" method="post" action="/criar_evento/">
                    {% csrf_token %}
                    <input type="text" id="title" name="title" placeholder="Titulo">
                    <div class="paci">
                        <label for="cliente">Paciente</label>
                        <select name="cliente" id="cliente">
                        </select>
                    </div>
                    <input type="text" id="description" name="description" placeholder="Descrição">
                    <input type="datetime-local" id="inicio" name="inicio" />
                    <button class="btn btn-criar" id="criar-evento">Adicionar</button>
                </form>
            </div>
        </div>

        <div id="modal-evento" class="modal">
            <div class="modal-content">
                <h2><span id="tituloEvento"></span></h2>
                <div class="pa">
                    <p>Paciente: <span id="pacienteEvento"></span></p>
                    <p>Descrição: <span id="descricaoEvento"></span></p>
                    <p>Data e Hora: <span id="dataInicioEvento"></span></p>
                </div>
                <div class="botoes-evento" >
                    <form class="form-ex" method="post" name="ex-evento" id="exEvento" action="/excluir_evento/" >
                        {% csrf_token %}
                        <input type="hidden" id="idEvento" name="idEvento" value="">
                        <button class="btn btn-ex" id="ex-evento">Cancelar</button>
                    </form>
                    <button class="btn btn-editar" id="editar-evento">Editar</button>
                </div>
            </div>
        </div>

        <div id="modal-editar-evento" class="modal">
            <div class="modal-content">
                <h2>Editar</h2>
                <form class="form-editar" name="form-editar" id="formEditar" method="post" action="/editar_evento/">
                    {% csrf_token %}
                    <input type="hidden" id="idEditar" name="idEditar" value="">
                    <label for="editar-title">Titulo:</label>
                    <input type="text" id="editar-title" name="editar-title" value="">

                    <label for="editar-cliente">Paciente:</label>
                    <div class="paci">
                        <select name="editar-cliente" id="editar-cliente">
                        </select>
                    </div>

                    <label for="editar-description">Descrição:</label>
                    <input type="text" id="editar-description" name="editar-description" placeholder="Descrição">

                    <label for="datetime-local">Data e hora:</label>
                    <input type="datetime-local" id="editar-inicio" name="editar-inicio" />
                    <button class="btn btn-criar" id="editar-evento">Editar</button>
                </form>
            </div>
        </div>

        <div id="modal-noti" class="modal">
            <div id="tela-noti" class="tela">
                <h2>Notificações</h2>
                <div id="notificacao" class="notificacao">
                    <div id="tela-fechar" class="tela-fechar">
                        <button class="btn btn-fechar" id="fechar">x</button>
                    </div>
                    <p class="conteudo" id="conteudo"></p>
                </div>
            </div>
        </div>


    </div>
    <script src="{% static 'js/home/home_psico.js' %}"></script>  
</body>
</html>
