@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*_______________________divs_______________________*/
body{
    margin: 0px;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
}

.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.cabeca{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.agendamentos{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
/*____________________________________________________*/

/*_______________________titles_______________________*/
h3{
    color: rgb(26 115 232);
    font-size: 24px;
    margin: 0;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: 600;
}
h2{
    display: flex;
    justify-content: center;
    color: rgb(26 115 232);
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: 700;
}
h1{
    color: rgb(26 115 232);
    margin-bottom: 10px;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
}
/*____________________________________________________*/

/*_______________________BOTÕES_______________________*/
.btns{
    display: flex;
    gap: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid rgb(26 115 232);
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

.btn:hover{
    background-color: rgb(26 115 232);
    transition: 0.5s;
}

img{
    width: 30px;
}
/*______________________________________________*/


.calendar{
    width: 45%;
    height: 70vh;
}


/*_______________________modal_______________________*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}
  
  .modal-content {
    background: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 20px 40px 50px;
    margin: 12% auto;
    width: 25%;
}
/*___________________________________________________*/

/*_______________________modal-escolher-psico_______________________*/
input{
    background-color: #00000000;
    border-color: #00000018;
    border-radius: 4px;
    font-size: 16px;
    width: 350px;
    height: 28px;
    padding: 13px 15px;
}

.form-psico{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.paci{
    height: 28px;
    padding: 13px 15px;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
}

select{
    width: 250px;
    height: 30px;
    border-radius: 4px;
}

.btn.btn-buscar{
    width: 250px;
    height: 30px;
}
/*__________________________________________________________________*/

/*_______________________Moldal Noti_______________________*/

.tela{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 25px;

    position: relative;
    width: 400px;
    height: 700px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 20px;
    margin: 5% 60%;
    overflow-x: auto;
}

.notificacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 20px;
    gap: 10px;

    width: 360px;

    background: #D9D9D9;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.tela-fechar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 0px;
    gap: 180px;

    width: 340px;
    height: 25.88px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn.btn-fechar{
    width: 21.88px;
    height: 21.88px;

    background: #0000003a;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.conteudo{
    height: 17px;

    font-weight: 400;

    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
/*__________________________________________________________________*/