@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*_______________________divs_______________________*/
body{
    margin: 0px;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
}

.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.cabeca{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calendar{
    width: 60%;
    height: 70vh;
}
/*____________________________________________________*/

/*_______________________titles_______________________*/
h3{
    color: rgb(26 115 232);
    font-size: 24px;
    margin: 0;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: 600;
}
h2{
    display: flex;
    justify-content: center;
    color: rgb(26 115 232);
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: 700;
}
/*____________________________________________________*/

/*_______________________BOTÕES_______________________*/
.btns{
    display: flex;
    gap: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid rgb(26 115 232);
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

.btn:hover{
    background-color: rgb(26 115 232);
    transition: 0.5s;
}

img{
    width: 30px;
}
/*____________________________________________________*/

/*_______________________MODAL_______________________*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
  }
  
.modal-content {
    display: flex;
    background: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 20px 40px 50px;
    margin: 12% auto;
    width: 25%;
    flex-direction: column;
    gap: 30px;
}
/*____________________________________________________*/

/*_______________________Moldal Evento_______________________*/
.form-marcar{
    display: flex;
    justify-content: center;
}

.btn.btn-marcar{
    height: 28px;
    width: 250px;
    padding: 13px 15px;
}

.pa{
    display: flex;
    flex-direction: column;
    color: #000000;
    font-size: 17px;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: 400;
    align-items: flex-start;
    padding: 0px 70px 0px;
}

p{
    margin: 10px;
}

/*___________________________________________________________*/